.Register-Lecturer {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.Register-Lecturer h1 {
    margin-bottom: 20px;
    color: #fff;
    background-color: orangered;
    border-radius: 10px;
    padding: 10px;
}

.form-regis-lecturer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
}

.form-input,
.form-textarea,
.form-button {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-input,
.form-textarea {
    border: 1px solid #ccc;
}

.form-textarea {
    resize: vertical;
}

.form-button {
    background-color: #007bff;
    border: none;
    color: white;
    cursor: pointer;
}

.form-button:hover {
    background-color: #0056b3;
}
