html {
    height: 100%;
    font-family: 'Arial', sans-serif;
    /* background: linear-gradient(to right, #ff8f26, #ff5117); */
}

.Register-Lecturer {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.Register-Lecturer h1 {
    margin-bottom: 20px;
    color: #fff;
    background: linear-gradient(to right bottom, #ff8f26, #ff5117);
    border-radius: 10px;
    padding: 10px 0;
    font-size: 1.5em;
}

.form-regis-lecturer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

.form-input,
.form-textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    box-sizing: border-box;
    border: 1px solid rgba(22, 24, 35, 0.2);
    transition: border-color 0.3s ease;
}

.form-input:focus,
.form-textarea:focus {
    outline: none;
}

.form-textarea {
    resize: vertical;
    height: 100px;
}

.form-button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    background: linear-gradient(to right bottom, #ff8f26, #ff5117);
    color: #fff;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease;
}

.form-button:hover {
    background: #ff5117;
    transform: scale(1.05);
}

input[readonly] {
    background-color: #f9f9f9;
    color: #555;
}
