html {
    height: 100%;
    font-family: 'Arial', sans-serif;
    background: #f4f4f9;
}

.form-box-register {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.form {
    width: 100%;
    max-width: 500px;
    margin-top: 70px;
    padding: 20px;
    border: 1px solid rgba(22, 24, 35, 0.2);
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.form h1 {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    background: linear-gradient(to right bottom, #ff8f26, #ff5117);
    color: #fff;
}

.register-form .input-username-register,
.register-form .input-email-register,
.register-form .input-password-register {
    position: relative;
    height: 50px;
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid rgba(22, 24, 35, 0.2);
    border-radius: 10px;
    transition: border-color 0.3s ease;
}

.register-form input {
    width: calc(100% - 40px);
    height: 100%;
    padding: 0 10px;
    border: none;
    border-radius: 10px;
    outline: none;
    font-size: 16px;
    color: #333;
    background: #f4f4f9;
    padding-left: 40px;
}

.register-form .icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #aaa;
}

.register-form .input-username-register:hover,
.register-form .input-email-register:hover,
.register-form .input-password-register:hover {
    border-color: #17335e;
}

.register-form .input-username-register:focus-within,
.register-form .input-email-register:focus-within,
.register-form .input-password-register:focus-within {
    border-color: #17335e;
}

.remember-forgot {
    margin: 20px 0;
}

.remember-forgot label {
    font-size: 14px;
    color: #333;
}

.submit-register {
    height: 40px;
    width: 100%;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(to right bottom, #ff8f26, #ff5117);
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    transition: background 0.3s ease, transform 0.3s ease;
}

.submit-register:hover {
    background: #ff5117;
    transform: scale(1.05);
}

.register-link p {
    font-size: 14px;
    color: #333;
}

.link-button-login {
    display: inline-block;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(to right bottom, #ff8f26, #ff5117);
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease;
}

.link-button-login:hover {
    background: #ff5117;
    transform: scale(1.05);
}
