.wrapper {
    background: linear-gradient(to right bottom, #ff8f26, #ff5117);
    border-radius: 99px;
    color: var(--white);
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 9px 20px;
    margin: 10px;
    transition: opacity 0.25s;
    text-decoration: none;
    &:hover {
        opacity: 0.8;
    }
}
