.form-learn {
    display: flex;
}
.body-video {
    width: 80%;
}
.list-topic {
    width: 20%;
    margin-left: 10px;
}
.Video-course {
    min-height: 500px;
}
.description-course {
    min-height: 200px;
}
.video {
    width: 1036px;
    height: 500px;
}
.list-lesson {
    li {
        list-style: none;
        line-height: 30px;
    }
}
