
.table-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #fff;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #f5f5f5;
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    color: #555;
    font-weight: bold;
}

tr:hover {
    background-color: #f1f1f1;
}

td img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

td a {
    color: #007bff;
    text-decoration: none;
}

td a:hover {
    text-decoration: underline;
}
.square-image {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    /* Đảm bảo hình ảnh lấp đầy và không bị kéo dài */
    aspect-ratio: 1; /* Tạo tỷ lệ hình ảnh vuông */
}