.image-wrapper {
    display: grid;
    justify-content: center;
    margin-top: 120px;
}

.avatar-image {
    width: 150px;
    height: 150px;
    margin-left: 45px;
    margin-bottom: 20px;
    border-radius: 50%; /* Để làm tròn ảnh đại diện */
    object-fit: contain; /* Đảm bảo ảnh vừa khít trong phần tử */
    border: 2px solid #333; /* Đường viền màu trắng, có thể thay đổi màu sắc nếu cần */
}

.chosse-image,
.save-image {
    padding: 10px 20px;
    margin: 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
}

.chosse-image:hover,
.save-image:hover {
    background-color: white;
    color: black;
    border: 1px solid #4caf50;
}

.save-image.disabled {
    background-color: gray;
    cursor: not-allowed;
    border: none;
}

.info-wrapper {
    display: flex;
    justify-content: space-around;
}

.information {
    width: 500px;
    height: auto;
    border-radius: 5%;
    border: 1px solid #333;
    padding: 20px;

    h3 {
        margin-left: 20px;
    }
    form {
        display: grid;
        gap: 10px;
        label {
            display: flex;
            flex-direction: column;
            font-weight: bold;
        }
        input {
            padding: 8px;
            margin-top: 5px;
            border-radius: 4px;
            border: 1px solid #ccc;
        }
    }
}

.class-join {
    width: 500px;
    min-height: 500px;
    border-radius: 5%;
    border: 1px solid #333;
    padding: 20px;

    h3 {
        margin-left: 20px;
    }
}

.class-inner {
    display: flex;
    width: 90%;
    justify-content: flex-start;
    margin: 30px;
    padding: 15px 15px;
    border-radius: 7px;
    border: 1px solid #b4b2b2;
}

.img-thumbnail {
    width: 40%;
    height: 100px;
    border-radius: 7%;
    cursor: pointer;
    
}

.info-class {
    // font-size: 1.5rem;
    line-height: 2rem;
    margin-top: 20px;
    margin-left: 20px;
    cursor: pointer;
}
.completed {
    color: green;
    font-weight: bold;
}

.in-progress {
    color: orange;
    font-weight: bold;
}
