/* PayPage.css */
.payment-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f2f5;
}

.payment-container {
    text-align: center;
    padding: 40px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.payment-success-icon {
    font-size: 10rem; /* Tăng kích thước biểu tượng */
    color: #4caf50;
}

.payment-title {
    margin-top: 20px;
    font-size: 3rem; /* Tăng kích thước tiêu đề */
    color: #333;
}
